<div class="card">
    <div class="image-holder" style="background: url('assets/cancer.png');"></div>
    <hr>
    <div class="stats">
      <div class="stats-graph">
          <circle-progress [percent]="20"> </circle-progress>

      </div>
      <div class="stats-holder">
        <div class="stats-time">
            Quedan <strong>10</strong> días
        </div> 
        <div class="stats-spacer"></div>
        <div class="stats-donators">
            <strong>50</strong> donadores
        </div> 
      </div>
    </div>
    <div class="description">
      <h4>CAMPAÑA PARA APOYO VISUAL</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate lorem ipsum dolor sit amet consectetur...</p>
      <div class="p-2">
        <hr class="thin">
        <div class="footer">
        <div class="footer-holder">
          <div class="donado">
            <h5><strong>DONADO:</strong></h5>
            <p>{{1875 | currency: 'MXN'}}</p>
          </div>
          <!-- <div class="spacer">
            <span class="rule"></span>
          </div> -->
          <div class="meta">
            <h5><strong>META MÍNIMA</strong></h5>
            <p>{{2500 | currency: 'MXN'}}</p>
          </div>
        </div>
      </div>
    </div>
    <button mat-flat-button>DONAR</button>
    </div>
  </div> 