<div class="card">
    <div class="image-holder" style="background: url('assets/cancer.png');"></div>
    <hr>
    <div class="stats">
      <div class="stats-graph">
          <circle-progress [percent]="20"> </circle-progress>

      </div>
      <div class="stats-holder">
        <div class="stats-time">
           <strong>10</strong> días
        </div> 
        <div class="stats-spacer"></div>
        <div class="stats-donators">
            <strong>50</strong> donadores
        </div> 
      </div>
    </div>
    <div class="description">
      <div class="text">
          <h6>{{'Una vida digna con oportunidades' | uppercase}}</h6>
        <p>Adquisición de una camioneta para transportar a los niños a las escuelas, poder recoger donaciones que nos otorgan.Lorem ipsum dolor sit amet</p>
      </div>
      <div class="footer">
        <hr class="thin">
        <div class="">
        <div class="footer-holder">
          <div class="donado">
            <h6><strong>DONADO:</strong></h6>
            <p>{{1875 | currency: 'MXN'}}</p>
          </div>
          <!-- <div class="spacer">
            <span class="rule"></span>
          </div> -->
          <div class="meta">
            <h6><strong>META MÍNIMA</strong></h6>
            <p>{{2500 | currency: 'MXN'}}</p>
          </div>
        </div>
      </div>
    </div>
    <button mat-flat-button>DONAR</button>
    </div>
  </div> 