<div class="asociacion">
    <div class="image-holder" [ngStyle]="{'background': 'url(' + project.logo + random_url + ')'}"></div>
    <!-- <div class="image-holder" style="background: url({{safeurl}});"></div> -->
    <hr>
    <div class="stats">
      <div class="stats-graph">
          <circle-progress [percent]="project.percentage"> </circle-progress>
      </div>
      <div class="stats-holder">
        <div class="stats-time">
            <strong>{{project.timeRemaining}}</strong> días
        </div>
        <div class="stats-spacer"></div>
        <div class="stats-donators">
            <strong>{{project.numberdonors}}</strong> donadores
        </div>
      </div>
    </div>
    <div class="description">
      <div class="text">
        <h6>{{project.title | uppercase}}</h6>
        <p>{{project.description}}</p>
      </div>
      <div class="footer">
        <hr class="thin">
        <div class="">
        <div class="footer-holder">
          <div class="donado">
            <h6><strong>DONADO:</strong></h6>
            <p>{{project.amountcollected | currency: 'MXN'}}</p>
          </div>
          <!-- <div class="spacer">
            <span class="rule"></span>
          </div> -->
          <div class="meta">
            <h6><strong>META MÍNIMA</strong></h6>
            <p>{{project.goal | currency: 'MXN'}}</p>
          </div>
        </div>
      </div>
    </div>
    <button mat-flat-button routerLink="/detail/id">DONAR</button>
    </div>
  </div>
