 @import '../../../styles.scss';
.card {
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 24.3px 2.7px rgba(0, 0, 0, 0.1);
	// width: 80%;
	// padding: 20px;
	overflow: visible;
	height: 500px;
	width: 335px;
	position:relative;
	.image-holder {
		padding-top: 60%;
		background-position:center!important;
		background-size: cover!important;
		background-repeat: no-repeat!important;
	}

	.stats {
		height:50px;
		position: relative;
		// padding-top: 15px;
		padding-left:15px;
		padding-right: 15px;
		&-graph {
			position:absolute;
			left:50%;
			transform: translate(-50%, -50%);
		}
		&-holder {
			padding-top:10px;
			display:flex;
			justify-content: space-between;
		}
		&-spacer {
			flex-basis: 40%;
		}
		&-time {
			font-size: 0.80em;
			flex-basis: 30%;
		}
		&-donators {
			font-size:0.80em;
			text-align:right;
			flex-basis:30%;
		}
	}
	hr {
		// display: block;
		// height: 5px;
		border: 0;
		border-top: 6px solid $purpura_col;
		// margin: 1em 0;
		padding: 0; 
		margin: 0;
		&.thin {
			border-top: 1.5px solid $purpura_col!important;
		}
	}

	.description {
		  .text {
		  padding: 15px 10px 0px 10px;		  
		  h6 {
			  text-align: center;
			  font-weight: bold;
		  }
		  p {
		  	font-size: 0.9em;
		  	font-weight: 300;
		  	color: #918e8e;
			  text-align: justify;
			  margin-bottom: 0%;
		  }
		}
		.footer {
				// position: relative;
				// height: 100px;
			&-holder {
				display: flex;
				justify-content: center;
				margin-bottom: 10px;
				.donado {
					margin-top: 10px;
					flex-basis: 50%;
					border-right: 1.5px solid $purpura_col;
				}
				.spacer {
					position:absolute;
					top:50%;
					left:50%;
					transform: translate(-50%, -50%); 
					.rule {
						border-left: thick solid #ff0000;
					}
				}
				.meta {
					margin-top: 10px;
					flex-basis: 50%;	
				}
				h6 {
					text-align: center;
					margin-bottom: 0%;
				}
				p {
					text-align: center;
					font-size: 0.80em;
					font-weight: 300;
					margin-bottom: 0%;
				}
			}
		}
	}
	.mat-flat-button {
		width: 100%;
		padding-top: 0px;
		// background-color:rgba(#fff, 0);
		// color:$lavanda_col;
		position: absolute;
		bottom:0px;
		left:50%;
		transform: translate(-50%,0%);
		background-color:$lavanda_col;
		color:white;
		border: 1.5px solid $lavanda_col;
		&:hover {
			background-color:$lavanda_col;
			color:white;
			// border-color: $lavanda_col;
			transition: all .3 ease;
		}
}
  }

  @media(max-width: 375px) {
	.card {
		border-radius: 5px;
		background-color: rgb(255, 255, 255);
		overflow: visible;
		height: 430px;
		width: 280px;
		position:relative;
		.stats {
			height:50px;
			position: relative;
			// padding-top: 15px;
			padding-left:10px;
			padding-right: 10px;
			&-graph {
				position:absolute;
				left:50%;
				transform: translate(-50%, -50%);
			}
			&-holder {
				padding-top:10px;
				display:flex;
				justify-content: space-between;
			}
			&-spacer {
				flex-basis: 35%;
			}
			&-time {
				font-size: 0.80em;
				flex-basis: 30%;
				text-align:center;
				
			}
			&-donators {
				font-size:0.80em;
				text-align:center;
				flex-basis:35%;
			}
		}
		hr {
			
			&.thin {
			display: none;
			}
		}
	
		.description {
			  .text {
			  padding: 15px 10px 0px 10px;		  
			  h6 {
				  text-align: center;
				  font-weight: bold;
			  }
			  p {
				display: none;
			  }
			}
			.footer {
					// position: relative;
					// height: 100px;
				&-holder {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					margin-bottom: 10px;
					.donado {						
						flex-basis: 100%;
						border-right:none;
					}
					.meta {						
						flex-basis: 100%;	
					}
					h6 {
						text-align: center;
						margin-bottom: 0%;
					}
					p {
						text-align: center;
						font-size: 0.80em;
						font-weight: 300;
						margin-bottom: 0%;
					}
				}
			}
		}
		.mat-flat-button {
			width: 100%;
			padding-top: 0px;
			// background-color:rgba(#fff, 0);
			// color:$lavanda_col;
			position: absolute;
			bottom:0px;
			left:50%;
			transform: translate(-50%,0%);
			background-color:$lavanda_col;
			color:white;
			border: 1.5px solid $lavanda_col;
			&:hover {
				background-color:$lavanda_col;
				color:white;
				// border-color: $lavanda_col;
				transition: all .3 ease;
			}
	}
	  }	
  }