<div class="footer">
    <div class="holder">
<div class="ayuda">
        <h4>AYUDA</h4>
    <ul>
        <li><button mat-button>¿Quiénes somos?</button></li>
        <li><button mat-button>Quiero participar</button></li>
        <li><button mat-button>Términos y condiciones</button></li>
        <li><button mat-button>Aviso de privacidad</button></li>
        <li><button mat-button>FAQ'S</button></li>
    </ul>
</div>    

<div class="contacto">
    <h4>CONTACTO</h4>
    <ul>
       <li><button mat-button [routerLink]="['login']">correo@example.com</button></li>
       <li><button mat-button [routerLink]="['login']">Teléfono: (999)123 4567</button></li>
       <li><button mat-button [routerLink]="['login']">Síguenos en Facebook</button></li>
    </ul>
</div>
<div class="idioma">
  <div>
    <button mat-raised-button [matMenuTriggerFor]="currMenu">
      MXN
    </button>
  </div>
  <div>
      <button  mat-raised-button [matMenuTriggerFor]="langMenu">
        ES
      </button>
    </div>
    <mat-menu #currMenu="matMenu">
      <button mat-menu-item>USD</button>
      <button mat-menu-item>MXN</button>
    </mat-menu>
  <mat-menu #langMenu="matMenu">
    <button  mat-menu-item>EN</button>
    <button mat-menu-item>ES</button>
  </mat-menu>

</div>

</div>
</div>

