<div class="footer">
    <div class="holder">
<div class="ayuda">
        <h4>AYUDA</h4>
    <ul>
        <li><button mat-button>¿Quiénes somos?</button></li>
        <li><button mat-button>Quiero participar</button></li>
        <li><button mat-button>Términos y condiciones</button></li>
        <li><button mat-button>Aviso de privacidad</button></li>
        <li><button mat-button>FAQ'S</button></li>
    </ul>
</div>    

<div class="contacto">
    <h4>CONTACTO</h4>
    <ul>
       <li><button mat-button [routerLink]="['login']">correo@example.com</button></li>
       <li><button mat-button [routerLink]="['login']">Teléfono: (999)123 4567</button></li>
       <li><button mat-button [routerLink]="['login']">Síguenos en Facebook</button></li>
    </ul>
</div>
<div class="idioma">
        <mat-form-field  appearance="legacy">
                <mat-select placeholder="Selecciona un idioma">
                        <mat-option value ="spanish">
                          Español
                        </mat-option>
                        <mat-option value ="english">
                          Inglés
                        </mat-option>
                      </mat-select>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                  <mat-select
                  >
                      <mat-option value ="spanish">
                        MXN
                      </mat-option>
                      <mat-option value ="english">
                        USD
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
</div>

</div>
</div>

