<!-- <p>
  assoc-detail works!







  HELLOOO!!!

</p>
<div class="register-holder">
  REGISTRARSE
    </mat-grid-tile>
    <mat-grid-tile colspan="4"rowspan="1" style="background-color: green;"></mat-grid-tile>
    <mat-grid-tile colspan="5"rowspan="2" style="background-color: yellow;">
      <mat-list style="width: 80%">
        <mat-list-item> <div>DÍAS RESTANTES    </div>    <div style="text-align: right">10</div></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>DONADORES Y DONADORAS <div style="text-align: right">   50     </div></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>META MÍNIMA</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>DONADO</mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="3"rowspan="2">
      <div class="stats">
        <div class="stats-graph">
          <circle-progress [percent]="75"> </circle-progress>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4"rowspan="2">
        <iframe width="" height="200" [src]='safeURL' frameborder="0"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </mat-grid-tile>
  </mat-grid-list>
  <h1>Hola</h1>
    <button  mat-raised-button color="accent" [routerLink]="['/register/donnor']">QUIERO APOYAR</button>

  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      <mat-action-list>
        <button mat-list-item (click)="navigate(0)">RESUMEN</button>
        <button mat-list-item (click)="navigate(1)">BENEFICIARIOS</button>
        <button mat-list-item (click)="navigate(2)">PROPUESTA DE VALOR</button>
        <button mat-list-item (click)="navigate(3)">EQUIPO</button>
        <button mat-list-item (click)="navigate(4)">GALERÍA</button>
        <button mat-list-item (click)="navigate(5)">COMENTARIOS</button>
      </mat-action-list>
    </mat-sidenav>
    <mat-sidenav-content [ngSwitch]="navItem">
      <div *ngSwitchCase="0">
        <h1>RESUMEN</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis, turpis sit amet consectetur laoreet, arcu lectus feugiat magna, ac blandit arcu ante sed diam. Fusce commodo ac massa sit amet elementum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean volutpat tempor tellus, id luctus magna vestibulum congue. Nullam nec dignissim purus. Sed rutrum accumsan arcu. Duis odio diam, ultrices sit amet ligula eget, condimentum suscipit leo. Vivamus aliquet quam nisi, at sagittis velit aliquam ac.
        </p>
        <h2>MISIÓN</h2>
        <p> Sed rutrum accumsan arcu. Duis odio diam, ultrices sit amet ligula eget, condimentum suscipit leo. Vivamus aliquet quam nisi, at sagittis velit aliquam ac.</p>
        <h2>VISIÓN</h2>
        <p> Sed rutrum accumsan arcu. Duis odio diam, ultrices sit amet ligula eget, condimentum suscipit leo. Vivamus aliquet quam nisi, at sagittis velit aliquam ac.</p>
        <h2>VALORES</h2>
        <mat-list >
            <mat-list-item>Valor 1</mat-list-item>
            <mat-list-item>Valor 2</mat-list-item>
            <mat-list-item>Valor 3</mat-list-item>

        </mat-list>
        <h2>SOBRE NOSOTROS</h2>
      </div>
      <div *ngSwitchCase="1">
        <h1>BENEFICIARIOS</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis, turpis sit amet consectetur laoreet, arcu lectus feugiat magna, ac blandit arcu ante sed diam. Fusce commodo ac massa sit amet elementum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean volutpat tempor tellus, id luctus magna vestibulum congue. Nullam nec dignissim purus. Sed rutrum accumsan arcu. Duis odio diam, ultrices sit amet ligula eget, condimentum suscipit leo. Vivamus aliquet quam nisi, at sagittis velit aliquam ac.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis, turpis sit amet consectetur laoreet, arcu lectus feugiat magna, ac blandit arcu ante sed diam. Fusce commodo ac massa sit amet elementum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean volutpat tempor tellus, id luctus magna vestibulum congue. Nullam nec dignissim purus. Sed rutrum accumsan arcu. Duis odio diam, ultrices sit amet ligula eget, condimentum suscipit leo. Vivamus aliquet quam nisi, at sagittis velit aliquam ac.
        </p>
      </div>
      <div *ngSwitchCase="2">
        <h1>PROPUESTA DE VALOR</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis, turpis sit amet consectetur laoreet, arcu lectus feugiat magna, ac blandit arcu ante sed diam. Fusce commodo ac massa sit amet elementum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean volutpat tempor tellus, id luctus magna vestibulum congue. Nullam nec dignissim purus. Sed rutrum accumsan arcu. Duis odio diam, ultrices sit amet ligula eget, condimentum suscipit leo. Vivamus aliquet quam nisi, at sagittis velit aliquam ac.
        </p>
      </div>
      <div *ngSwitchCase="3">
        <h1>EQUIPO</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis, turpis sit amet consectetur laoreet, arcu lectus feugiat magna, ac blandit arcu ante sed diam. Fusce commodo ac massa sit amet elementum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean volutpat tempor tellus, id luctus magna vestibulum congue. Nullam nec dignissim purus. Sed rutrum accumsan arcu. Duis odio diam, ultrices sit amet ligula eget, condimentum suscipit leo. Vivamus aliquet quam nisi, at sagittis velit aliquam ac.
        </p>
      </div>
      <div *ngSwitchCase="4">
        <h1>GALERÍA</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis, turpis sit amet consectetur laoreet, arcu lectus feugiat magna, ac blandit arcu ante sed diam. Fusce commodo ac massa sit amet elementum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean volutpat tempor tellus, id luctus magna vestibulum congue. Nullam nec dignissim purus. Sed rutrum accumsan arcu. Duis odio diam, ultrices sit amet ligula eget, condimentum suscipit leo. Vivamus aliquet quam nisi, at sagittis velit aliquam ac.
        </p>
      </div>
      <div *ngSwitchCase="5">
        <h1>COMENTARIOS</h1>
        <div style="width: 800px; height: 150px;">
          <mat-form-field appearance="outline" style="width: 100%; height: 100%; background-color: white;">
            <textarea matInput matAutosize="false" placeholder="Escribe tu comentario..." style="height: 150px; background-color: white; resize: none"></textarea>
          </mat-form-field>
          <button mat-flat-button>ENVIAR</button>
        </div>
      </div>
      <div *ngSwitchDefault>{{navItem}}
        ASDASD
        ASDASD
        <p>Hello</p>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->

<div class="main-holder">
  <div class="title">
      <h2>{{'campaña para apoyo visual' | uppercase}}</h2>
  </div>
  <div class="subtitle">
      <a href="www.hogardeangeles.com">
        www.hogardeangeles.com
      </a>
      <a href="" >
        (999)1234567
      </a>
      <a href="">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="">
        <i class="fas fa-map-marker"></i>
      </a>
  </div>
  <div class="hr-holder">
     <div class="hr"></div>
  </div>
  <div class="detail-holder">
    <div class="statistics">
      <div>
      <p> {{'Días restantes' | uppercase}}</p> <span>10</span>
      </div>
      <div>
        <p>{{'Donadores y Donadoras' | uppercase }}</p> <span>50</span>
      </div>
      <div>
        <p>META MÍNIMA</p> <span>{{2500 | currency:'MXN'}}</span>
      </div>
      <div>
       <p>DONADO</p> <span>{{1875 | currency:'MXN'}}</span>
      </div>
    </div>
    <div class="circle-holder">     
        <circle-progress [percent]="75" [radius]="60"> </circle-progress>
    </div>
    <div class="video">
        <iframe height="100%" width="100%" [src]='safeURL' frameborder="0"  
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="button-holder">
    <button mat-flat-button>QUIERO APOYAR</button>
    <div class="spacer"></div>
  </div>
</div>

<div class="general-holder">
<div class="menu">
  <div class="img-asoc">
    <img src="assets/hogardeangeles.png" alt="">
  </div>
  <ul>
    <li><a (click)="scrollToElement(resumen)"> RESUMEN</a></li>
    <li><a (click)="scrollToElement(beneficiarios)"> BENEFICIARIOS</a></li>
    <li><a (click)="scrollToElement(valor)"> PROPUESTA DE VALOR</a></li>
    <li><a (click)="scrollToElement(equipo)"> EQUIPO</a></li>
    <li><a (click)="scrollToElement(galeria)"> GALERÍA</a></li>
  </ul>
</div>
<div scrollSpyElement="equipo" class="info scrollbar-colabora">
    <div #resumen>
      <h3>RESUMEN</h3>
      <hr style="padding-right: 20px;">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget commodo 
        leo. Curabitur nec dolor finibus, ornare ipsum sed, pretium lacus. Vivamus non 
        tortor sit amet sem vestibulum semper. Integer eget urna tempor, molestie augue 
        ques, viverra urna. Quisque sed enim sem. Nunc tempus leo sit amet sem dignissim 
        congue vitae eget justo. Nullam tincidunt tortor nisl, id ultrices felis accumsan
        sed. Vestibulum ultricies sapien a ipsum dictum pharetra. Donec imperdiet diam 
        non metus aliquam pretium. Lorem ipsum dolor sit amet, consectetur adipiscing 
        elit. Vivamus lacinia ante faucibus venenatis tincidunt.</p>
        <strong>MISIÓN</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas eget commodo leo. Curabitur nec dolor finibus, 
            ornare ipsum sed, pretium lacus. Vivamus non tortor sit amet sem vestibulum
            semper. Integer eget urna tempor, molestie augue quis, viverra urna. 
            Quisque sed enim sem. </p>
        <strong>VISIÓN</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas eget commodo leo. Curabitur nec dolor finibus, 
            ornare ipsum sed, pretium lacus. Vivamus non tortor sit amet sem vestibulum
            semper. Integer eget urna tempor, molestie augue quis, viverra urna. 
            Quisque sed enim sem. </p>
            <strong>VALORES</strong>
            <ul class="values">
              <li>Respeto</li>
              <li>Honestidad</li>
              <li>Integridad</li>
            </ul>
        <strong>SOBRE NOSOTROS</strong>
        <p class="marker"><i class="fas fa-map-marker"></i> Mérida, Yucatán, MX</p>
        <p class="calendar"> <i class="fas fa-calendar"></i> 2017</p>
         <strong>DESCARGABLES</strong>

    </div>
    
    <div #beneficiarios>
      <h3>BENEFICIARIOS</h3>
      <hr>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
    </div>

    <div #valor>
      <h3>PROPUESTA DE VALOR</h3>
      <hr>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
    </div>
    <div #equipo >
      <h3>EQUIPO</h3>
      <hr>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
    </div>
    
    <div #galeria>
      <h3>GALERÍA</h3>
      <hr>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
      <h5>Smooth Scroll Example</h5>
    </div>


  </div>
</div>

