@import '../../../styles.scss'; 

.stats {
  height:50px;
  // position: relative;
  // padding-top: 15px;
  padding-left:15px;
  padding-right: 15px;
  &-graph {
    // position:absolute;
    left:50%;
    transform: translate(-50%, -50%);
  }
  &-holder {
    padding-top:10px;
    display:flex;
    justify-content: space-between;
  }
  &-spacer {
    flex-basis: 40%;
  }
  &-time {
    flex-basis: 30%;
  }
  &-donators {
    text-align:right;
    flex-basis:30%;
  }
}

.mat-flat-button {
  width: 80%;
  margin-top: 20px;
  text-align: center;
  // background-color:rgba(#fff, 0);
  // color:$lavanda_col;
  background-color:$lavanda_col;
  color:white;
  border: 1.5px solid $lavanda_col;
  // &:hover {
  //   background-color:white;
  //   color:$lavanda_col;
  //   // border-color: $lavanda_col;
  //   transition: all 1.2 ease-in;
  // }
}


.main-holder {
  @include navbar;
   padding: 30px;
   position: relative;
   .title {
     h2 {
       font-weight: 800;
       color:#636363;
     }
   }
  .subtitle {
    padding-bottom: 20px;
    a{
      padding-right: 20px;
      color:#8f8f8f;
      font-size: 1.1rem;
      &:hover {
        color:rgba($lavanda_col,0.8);
        transition: all .3 ease;
      }
    }
    
   }
   .hr {
     &-holder {
      display:flex;
      justify-content: flex-start;
     }
     flex-basis:50%;
     border-bottom: 1px solid #bababa;
   }


.detail {
  &-holder {
    margin-top:30px;
    min-height: 350px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .statistics {
      flex-basis: 25%; 
        div{
          padding-top: 15px;
          border-bottom: 1px solid #bababa;
          display: flex;
          justify-content: space-between;
           span {
             font-weight: 800;
             color:#636363;
           }
        }

      }
    .circle-holder {
        flex-basis: 25%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 20px
  }
    .video {
      flex-basis:50%;
    }

    .button-holder{
      flex-basis: 100%;
      text-align: center;
    }
    @media(max-width:1097px) {
      .video{
        flex-basis: 100%;
        order: -1;
      }
      .statistics, .circle-holder {
        flex-basis: 50%;
     }
   }
   @media(max-width: 426px) {
    .statistics, .circle-holder {
      flex-basis: 100%;
      text-align: center;
   }
   }
  }
 }
}

.img-asoc {
  height: 200px;
  display:flex;
  justify-content: center;
  align-items: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a65199+0,a65199+19,a65199+39,6d5895+70,6d5895+100 */
  @include gradient-crowdfunding;
  img {
     @include avatar(150px,150px);
  }
  &-small {
    height: 150px;
    img {
      @include avatar(100px,100px);
    }
  }
}
.general-holder {
  position: relative;
  display:flex;
  justify-content: space-around;
  align-content: center;
  margin-top:50px;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.43);
  .menu {
    flex-basis: 20%;
    background-color: white;
    ul { 
      padding-inline-start:0px;
      li {
      padding: 20px 0px 20px 40px;
      list-style: none;
      }
    }
   @media(max-width: 769px) {
      display: none;
    } 
  }
  .info {
    padding: 30px;
    flex-basis:80%;
    overflow:auto;
    background-color:$gris-bajo;
    height: 600px;
    h3, strong {
      font-weight: 800;
      color:#585858;
    }
    p {
      text-align: justify;
      i{
        color:#585858;
      }
    } 
   ul.values {
    list-style: none;
    li::before {content: "•"; color: #585858;
      display: inline-block; width: 1em;
      margin-left: -1em}
   }
   .img-equipo {
    // height: 100px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // .equipo {
      div {
        flex-basis: 30%; 
        text-align: center;
        padding: 40px;
        h6,p {
          text-align: center;
          // padding-top:10px;
        }
        p {
          font-size: 14px;
        }
      }
      img {
       border-radius:8px;
       height:100px;
       width:100px;
       overflow:hidden; 
       object-fit: cover;
       border-radius: 10px;
       // box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.43);
       @include box-shadow();
       margin-bottom: 10px;
    }
  }
   @media(max-width: 769px) {
     flex-basis: 100%;
     height:auto;
    // overflow: visible;
   } 
 }
}

.active {
  background-color:rgba(#bababa,0.5);
  transition: all ease-in;
}

.inactive {
  background-color:white;
  transition: all ease-in;
}

.scroll-with-offset {    
  padding-top: 100px;
  padding-bottom:100px;
  margin-bottom: -100px;
}

.carousel {
  width: 100% !important;
  max-height: 200px !important;
  background: $gris-bajo !important;

  owl-carousel {
      .item {
          padding: 10px 15px !important;
          img {
              max-height: 150px !important;
              width: auto !important;
          }
      }
  }
}

.responsive-carousel {
  #carousel4 {
      display:block;
  }
  #carousel5 {
      display:none;
  }
  #carousel6 {
      display:none;
  }
}

@media(max-width: 1024px) {
  .responsive-carousel {
      #carousel4 {
          display:none;
      }
      #carousel5 {
          display:block;
      }
      #carousel6 {
          display:none;
      }
  }
}

@media(max-width: 620px) {

    .responsive-carousel {
        #carousel4 {
            display:none;
        }
        #carousel5 {
            display:none;
        }
        #carousel6 {
            display:block;
        }
    }
}



