<div>
<div class="main-holder">
  <div class="title">
      <h2>{{'campaña para apoyo visual' | uppercase}}</h2>
  </div>
  <div class="subtitle">
      <a href="www.hogardeangeles.com">
        www.hogardeangeles.com
      </a>
      <a href="" >
        (999)1234567
      </a>
      <a href="">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="">
        <i class="fas fa-map-marker"></i>
      </a>
  </div>
  <div class="hr-holder">
     <div class="hr"></div>
  </div>
  <div class="detail-holder">
    <div class="statistics">
      <div>
      <p> {{'Días restantes' | uppercase}}</p> <span>10</span>
      </div>
      <div>
        <p>{{'Donadores y Donadoras' | uppercase }}</p> <span>50</span>
      </div>
      <div>
        <p>META MÍNIMA</p> <span>{{2500 | currency:'MXN'}}</span>
      </div>
      <div>
       <p>DONADO</p> <span>{{1875 | currency:'MXN'}}</span>
      </div>
    </div>
    <div class="circle-holder">
        <circle-progress [percent]="['75']" [radius]="60"> </circle-progress>
    </div>
    <div class="video">
        <iframe height="350px" width="100%" [src]='safeURL' frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="button-holder">
      <button mat-flat-button (click)="tooglePaypal()">QUIERO APOYAR</button>
      <!-- <div class="spacer"></div> -->
    </div>
    <div class="pagos-container" #paypal>
      <div class="pagos-card">
        <h1>{{'500' | currency:'MXN'}}</h1>
        <div id="paypal-button-container"></div>  
      </div>
      <div class="pagos-card">
        <h1>{{'250' | currency:'MXN'}}</h1>
        <div id="paypal-button-container-2"></div>  
      </div>
      <div class="pagos-card">
        <h1>{{'150' | currency:'MXN'}}</h1>
        <div id="paypal-button-container-3"></div>  
      </div>
      <div class="pagos-card">
        <h1>{{'50' | currency:'MXN'}}</h1>
        <div id="paypal-button-container-4"></div>  
      </div>
    </div>
  </div>
</div>
<div class="img-asoc" id="responsive-banner">
    <div class="background" style="background: url('assets/hogardeangeles.png') no-repeat scroll center;"> </div>
      <img src="assets/hogardeangeles.png"alt="" class="avatar">
      <div class="overlay"></div>
    </div>
<div class="general-holder">
<div class="menu">
  <div class="img-asoc">
  <div class="background" style="background: url('assets/hogardeangeles.png') no-repeat scroll center;"> </div>
    <img src="assets/hogardeangeles.png"alt="" class="avatar">
    <div class="overlay"></div>
  </div>
  <ul>
    <li #resumen_li><a (click)="scrollToElement(resumen)"  > RESUMEN</a></li>
    <li #beneficiarios_li><a (click)="scrollToElement(beneficiarios)"> BENEFICIARIOS</a></li>
    <li #valor_li><a (click)="scrollToElement(valor)" > PROPUESTA DE VALOR</a></li>
    <li #equipo_li><a (click)="scrollToElement(equipo)"> EQUIPO</a></li>
    <li #galeria_li><a (click)="scrollToElement(galeria)" > GALERÍA</a></li>
  </ul>
</div>
<div class="info scrollbar-colabora">
    <div #resumen  id="resumen"
    inViewport
    [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="onIntersection($event)" class="scroll-with-offset">
      <h3 >RESUMEN</h3>
      <hr style="padding-right: 20px;">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget commodo
        leo. Curabitur nec dolor finibus, ornare ipsum sed, pretium lacus. Vivamus non
        tortor sit amet sem vestibulum semper. Integer eget urna tempor, molestie augue
        ques, viverra urna. Quisque sed enim sem. Nunc tempus leo sit amet sem dignissim
        congue vitae eget justo. Nullam tincidunt tortor nisl, id ultrices felis accumsan
        sed. Vestibulum ultricies sapien a ipsum dictum pharetra. Donec imperdiet diam
        non metus aliquam pretium. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Vivamus lacinia ante faucibus venenatis tincidunt.</p>
        <strong>MISIÓN</strong>
        <p>Fortalecer a las Organizaciones de la Sociedad Civil para que dependan menos de donativos y tengan un modelo de negocio social
           que las sustente y esté enfocado en su misión. </p>
        <strong>VISIÓN</strong>
        <p>Posicionarnos como la fortalecedora integral líder de las organizaciones de la sociedad civil del Sureste del País. </p>
            <strong>VALORES</strong>
            <ul class="values">
              <li>Respeto</li>
              <li>Honestidad</li>
              <li>Integridad</li>
            </ul>
        <strong>SOBRE NOSOTROS</strong>
        <p class="marker"><i class="fas fa-map-marker"></i> Mérida, Yucatán, MX</p>
        <p class="calendar"> <i class="fas fa-calendar"></i> 2017</p>
         <strong>DESCARGABLES</strong>

    </div>

    <div #beneficiarios id="beneficiarios"  inViewport
    [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="onIntersection($event)" class="scroll-with-offset">
      <h3>BENEFICIARIOS</h3>
      <hr>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget commodo
        leo. Curabitur nec dolor finibus, ornare ipsum sed, pretium lacus. Vivamus non
        tortor sit amet sem vestibulum semper. Integer eget urna tempor, molestie augue
        ques, viverra urna. Quisque sed enim sem. Nunc tempus leo sit amet sem dignissim
        congue vitae eget justo. Nullam tincidunt tortor nisl, id ultrices felis accumsan
        sed. Vestibulum ultricies sapien a ipsum dictum pharetra. Donec imperdiet diam
        non metus aliquam pretium. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Vivamus lacinia ante faucibus venenatis tincidunt.</p>
    </div>

    <div #valor id="valor"  inViewport
    [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="onIntersection($event)" class="scroll-with-offset">
      <h3>PROPUESTA DE VALOR</h3>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget commodo
          leo. Curabitur nec dolor finibus, ornare ipsum sed, pretium lacus. Vivamus non
          tortor sit amet sem vestibulum semper. Integer eget urna tempor, molestie augue
          ques, viverra urna. Quisque sed enim sem. Nunc tempus leo sit amet sem dignissim
          congue vitae eget justo. Nullam tincidunt tortor nisl, id ultrices felis accumsan
          sed. Vestibulum ultricies sapien a ipsum dictum pharetra. Donec imperdiet diam
          non metus aliquam pretium. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Vivamus lacinia ante faucibus venenatis tincidunt.</p>
    </div>
    <div #equipo id="equipo"  inViewport
    [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="onIntersection($event)" class="scroll-with-offset" >
      <h3>EQUIPO</h3>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget commodo
          leo. Curabitur nec dolor finibus, ornare ipsum sed, pretium lacus. Vivamus non
          tortor sit amet sem vestibulum semper. Integer eget urna tempor, molestie augue
          ques, viverra urna. Quisque sed enim sem. Nunc tempus leo sit amet sem dignissim
          congue vitae eget justo. Nullam tincidunt tortor nisl, id ultrices felis accumsan
          sed. Vestibulum ultricies sapien a ipsum dictum pharetra. Donec imperdiet diam
          non metus aliquam pretium. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Vivamus lacinia ante faucibus venenatis tincidunt.</p>
        <div class="img-equipo">
          <div *ngFor="let member of team">
            <img [src]="member.avatar" alt="">
         <h6><strong>{{member.nombre}}</strong></h6>
          <p>{{member.cargo}}</p>
          </div>
        </div>
    </div>

    <div #galeria id="galeria"  inViewport
    [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="onIntersection($event)" class="scroll-with-offset">
      <h3>GALERÍA</h3>
      <hr>
      <div class="responsive-carousel">
          <div class="carousel" id="carousel4">
            <owl-carousel
               [options]="{ 'items': 7,
               'dots': false,
               'navigation': false,
               'autoplay': true,
               'autoplaySpeed': 500,
               'loop': true}"
               [items]="slides">
               <div class="item" *ngFor="let image of slides;let i = index">
                   <img src="{{image.img}}" alt="">
               </div>
           </owl-carousel>
          </div>
          <div class="carousel" id="carousel5">
            <owl-carousel
               [options]="{ 'items': 4,
                'dots': false,
                'navigation': false,
                'autoplay': true,
                'autoplaySpeed': 500,
                'loop': true}"
               [items]="slides">
               <div class="item" *ngFor="let image of slides;let i = index">
                   <img src="{{image.img}}" alt="">
               </div>
           </owl-carousel>
          </div>
          <div class="carousel" id="carousel6">
            <owl-carousel
               [options]="{items: 2,
               dots: false,
               navigation: false,
               autoplay: true,
               autoplaySpeed: 500,
               loop: true}"
               [items]="slides">
               <div class="item" *ngFor="let image of slides;let i = index">
                   <img src="{{image.img}}" alt="">
               </div>
           </owl-carousel>
          </div>
          </div>
    </div>


  </div>
</div>

