
<mat-toolbar>Colabora México</mat-toolbar>

<div *ngIf="user; else notlogged">
  <mat-nav-list>
    <!-- Show user profile picture -->
    <div  class="avatar-holder">
      <a mat-icon-button (click)="profile_drawer = !profile_drawer;">
        <img class="navbar-avatar" [src]="user.photoURL">
        <!-- <mat-icon>more_vert</mat-icon> -->
        <!-- <h6>{{'Félix Ehuan'}}</h6> -->
      </a>
    </div>
    <button mat-menu-item *ngIf="profile_drawer" (click)="drawer.toggle()">
      <mat-icon>account_circle</mat-icon>
      <span>Ver perfil</span>
    </button>
    <button mat-menu-item *ngIf="profile_drawer" (click)="drawer.toggle()">
      <mat-icon>edit</mat-icon>
      <span>Ver notificaciones</span>
    </button>
    <button mat-menu-item *ngIf="profile_drawer" (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar sesión</span>
    </button>
    <a mat-list-item [routerLink]="['apoyar']" >APOYAR CAMPAÑAS</a>
    <a mat-list-item [routerLink]="['']">¿CÓMO APOYAR?</a>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['perfil']">
          <mat-icon>account_circle</mat-icon>
          <span>Ver perfil</span>
        </button>
        <!-- <button mat-menu-item [routerLink]="['apoyar']">
          <mat-icon>edit</mat-icon>
          <span>Ver notificaciones</span>
        </button> -->
        <button mat-menu-item (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
  </mat-nav-list>
</div>
<ng-template #notlogged let-user>
  <!-- If notLogged just show redirection buttons -->
  <mat-nav-list>
    <a mat-list-item (click)="drawer.toggle()" [routerLink]="['apoyar']">APOYAR CAMPAÑAS</a>
    <a mat-list-item (click)="drawer.toggle()" [routerLink]="['ayuda']">¿CÓMO APOYAR?</a>
    <a mat-list-item (click)="drawer.toggle()" [routerLink]="['login']">INICIAR SESIÓN</a>
    <a mat-list-item (click)="drawer.toggle()" [routerLink]="['register']">REGISTRARSE</a>
  </mat-nav-list>
</ng-template>

