<div [formGroup]="form">
  <!-- <label [attr.for]="field.key">{{field.label}}</label> -->

  <div [ngSwitch]="field.controlType" class="{{field.controlType}}-field">

    <mat-form-field *ngSwitchCase="'textbox'">
      <ng-container *ngIf="field.textarea; else textboxTemplate">
        <textarea matInput mat-autosize="true" style="overflow: hidden" [formControlName]="field.key"
        [id]="field.key" [type]="field.type" [maxlength]="field.maxlength" [placeholder]="field.placeholder" [required]="field.required"></textarea>
      </ng-container>
      <ng-template #textboxTemplate>
        <input matInput [formControlName]="field.key"
          [id]="field.key" [type]="field.type" [maxlength]="field.maxlength" [placeholder]="field.placeholder" [required]="field.required"
        >
      </ng-template>
      <mat-error *ngIf="!isValid">El campo es requerido</mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'dropdown'">
      <!-- <p>{{field.label}}</p> -->
      <mat-select [id]="field.key" [placeholder]="field.label"  [formControlName]="field.key" [required]="field.required">
        <mat-option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</mat-option>
      </mat-select>
    </mat-form-field>


    <!-- <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason"> -->
    <mat-radio-group *ngSwitchCase="'radiobuttons'" [id]="field.key" [formControlName]="field.key" [required]="field.required">
      <p>{{field.label}}</p>
      <!-- <p>{{field.label}}</p> -->
      <mat-radio-button *ngFor="let opt of field.options" [value]="opt.key">
        {{opt.value}}
      </mat-radio-button>
    </mat-radio-group>

    <!-- <button *ngSwitchCase="'upload'" mat-raised-button color="accent">hello</button> -->
    <div *ngSwitchCase="'upload'">
        <p>{{field.label}}</p>
      <button  mat-raised-button type="button" (click)="onFileClick(fileid)">
          {{field.text}}<mat-icon>attach_file</mat-icon>
      </button>
      <input [id]="fileid" [accept]="field.type" type="file" style="display:none;"  (change)="onFileChange($event.target.files)">
      <!-- <mat-error *ngIf="!isValid">El campo es requerido</mat-error> -->
      <mat-error *ngIf="fileError.unsupported">*Seleccione una imagen por favor</mat-error>
      <mat-error *ngIf="fileError.size">*El tamaño de la imagen debe ser menor a 1mb.</mat-error>
    </div>

    <div *ngSwitchCase="'dropZone'">
      <mat-label>{{field.label}}</mat-label>
      <div class="dropzone"
        dropZone
        (hovered)="toggleHover($event)"
        (dropped)="onFileDrop($event)"
        [class.hovering]="isHovering">
        <mat-icon >photo_library</mat-icon>
        <mat-label>{{field.text}}</mat-label>
      </div>
    </div>

    <app-dynamic-form *ngSwitchCase="'form'" [formsArray]="form.controls[field.key]" [fields]="field.fields" [parentField]= "field" [label]="field.label" [cols]="field.childCols"></app-dynamic-form>

    <mat-form-field *ngSwitchCase="'datepicker'">
      <!-- <input matInput [min]="field.min" [max]="field.max" [matDatepicker]="picker" placeholder="field.placeholder">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker> -->
      <input [required]="field.required" [min]="field.min" [max]="field.max" matInput [formControl]="form.controls[field.key]" [matDatepicker]="picker" [placeholder]="field.placeholder">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="!isValid">El campo es requerido</mat-error>
    </mat-form-field>
  </div>
</div>


<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
