<div>
  <mat-grid-list cols="8" rowHeight="64px" gutterSize="0">
    <mat-grid-tile colspan="6" rowspan="1" style="background: #DDBDF1;">
      <mat-toolbar color="primary">
        <span>COLABORA MÉXICO AC</span>
        <span>|</span>
        <form class="example-container" style="font-size: 10px">
          <mat-form-field hideRequiredMarker="true" floatLabel="never">
            <input matInput placeholder="BUSCAR CAUSAS...">
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field>
        </form>
        <span class="example-spacer"></span>
        <button mat-button [routerLink]="['']">APOYAR CAMPAÑAS</button>
        <span>|</span>
        <button mat-button [routerLink]="['']">¿CÓMO APOYAR?</button>
      </mat-toolbar>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" style= "background: lightpink">
      <mat-toolbar color="accent">
        <button mat-button [routerLink]="['login']">INICIAR SESIÓN</button>
        <span>|</span>
        <button mat-button [routerLink]="['']">REGISTRARSE</button>
      </mat-toolbar>
    </mat-grid-tile>
  </mat-grid-list>
</div>
