@import '../../../styles.scss';
@import '../../main-nav/main-nav.component.scss';
mat-icon.menu-white {
    color:white;
}
// .example-spacer {
//   flex: 1 1 auto;
// }

// .example-container {
//   display: flex;
//   // flex-direction: column;
//   align-content: center;
// }

// .example-container > * {
//   width: 100%;
// }

// .mat-toolbar {
//   color: #fff;
//   &.mat-primary {
//     background: rgba($purpura_col,0.5);
//   }
//   &.mat-accent {
//     background: rgba($lavanda_col,0.5);
//   }
// }

// .mat-form-field {
//   font-family: 'Nunito', sans-serif;
// }
// .pipe {
//   margin: 15px;
//   border-width: 2px;
// }

// .navbar {
//   padding-top: 0%;
// }

// .mat-form-field-underline {
//   display: hidden!important;
// }

// mat-input-container input {
//   border: none;
// }
