<!-- <div>
  <mat-grid-list cols="8" rowHeight="64px" gutterSize="0">
    <mat-grid-tile colspan="6">
      <mat-toolbar color="primary">
        <span>COLABORA MÉXICO AC</span>
        <span class="pipe">|</span>
        <form class="example-container" style="font-size: 10px">
          <mat-form-field hideRequiredMarker="true"floatLabel="never">
            <input matInput placeholder="BUSCAR CAUSAS...">
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field>
        </form>
        <span class="example-spacer"></span>
        <button mat-button [routerLink]="['']">APOYAR CAMPAÑAS</button>
        <span class="pipe">|</span>
        <button mat-button [routerLink]="['']">¿CÓMO APOYAR?</button>
      </mat-toolbar>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <mat-toolbar color="accent">
        <button mat-button [routerLink]="['login']">INICIAR SESIÓN</button>
        <span class="pipe">|</span>
        <button mat-button [routerLink]="['register']">REGISTRARSE</button>
      </mat-toolbar>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->

<mat-toolbar color="primary" class="transparent" Sticky-Element offset="420">
  <!-- Navbar Show/Hide Button -->
  <button mat-button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon" color="white" class="menu-white">menu</mat-icon>
  </button>

  <!-- Show logo -->
  <span class="spacer" *ngIf="isHandset$ | async"></span>
  <a class="navbar-brand"><img src="assets/feyac.png" alt="" routerLink=""></a>
  <span class="spacer" *ngIf="!(isHandset$ | async)"></span>


  <!-- Display options if size allows it -->
  <span *ngIf="!(isHandset$ | async)" class="content-links">
    <button mat-button [routerLink]="['apoyar']" routerLinkActive="navbar-active" >APOYAR CAMPAÑAS</button>
    <!-- <span class="divider">|</span> -->
    <button mat-button [routerLink]="['ayuda']" routerLinkActive="navbar-active">¿CÓMO APOYAR?</button>



    <!-- If user show profile picture and menu options -->
    <div *ngIf="user; else notlogged">
      <!-- Show Profile Picture -->
      <button mat-button [matMenuTriggerFor]="menu">
        <img class="navbar-avatar" [src]="user.photoURL" alt="">
        <mat-icon color="white">more_vert</mat-icon>
      </button>

      <!-- Menu items for user... -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['perfil']">
          <mat-icon>account_circle</mat-icon>
          <span>Ver perfil</span>
        </button>
        <button mat-menu-item [routerLink]="['apoyar']">
          <mat-icon>edit</mat-icon>
          <span>Ver notificaciones</span>
        </button>
        <button mat-menu-item (click)="authService.signOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
    </div>


    <!-- If no user show login and registration options -->
    <ng-template #notlogged let-user>
      <button mat-button [routerLink]="['login']" routerLinkActive="navbar-active">INICIAR SESIÓN</button>
      <!-- <span class="divider">|</span> -->
      <button mat-button [routerLink]="['register']" routerLinkActive="navbar-active">REGISTRARSE</button>
    </ng-template>
  </span>
</mat-toolbar>
