<div class="inicio">
    <div class="inicio__titulo">
      <div class="overlay">
      </div>
      <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>
      <div class="titulo-centrado">
          <h1 class="titulo titulo__purpura"> 
          <!-- <span class="titulo__rosa">&#8728;</span> -->
          A UN CLIC DE CAMBIAR VIDAS
          <!-- <span class="titulo__rosa">&#8728;</span> -->
          </h1>
        </div>
      <button mat-raised-button class="btn-centrado" color="accent">QUIERO APOYAR</button>
    </div>
</div>

<div class="apoya apoya-container">
    <div class="apoya-rectangle square-1"><img src="assets/cuadrado2.png" alt=""></div>
    <!-- <div class="apoya-rectangle square-2"><img src="assets/cuadrado2.png" alt=""></div> -->
    <div class="apoya-rectangle square-3"><img src="assets/cuadrado2.png" alt=""></div>
    <div class="apoya-card">
      <div class="content">
        <H1>APOYA UNA CAMPAÑA</H1> 
        <p>Apoya a nuestrar causas y sé parte del cambio positivo en el mundo.</p>
        <p>Conoce más sobre el proceso y las asociaciones que se encargan todos los días de realizar el cambio.</p>
        <button mat-raised-button  color="accent">VER CAMPAÑAS</button>
      </div>
    </div>
</div> 

<!-- <h3 stlye="text-align:center;">Nuevas campañas</h3>
  <div class="campaign">
    <div class="campaign-card">
      <app-card></app-card>
    </div>
    <div class="campaign-card">
      <app-card></app-card>
    </div>
    <div class="campaign-card">
      <app-card></app-card>
    </div> 
  </div> -->

  <div class="section-cards">
    <h2>{{'Campañas destacadas' | uppercase }}</h2>
    <div class="container-scroller">
          <app-scroller></app-scroller>
    </div>
  </div>

<div class="responsive-carousel">
    <div class="carousel" id="carousel1">
      <owl-carousel
         [options]="{ 'items': 7,
         'dots': false,
         'navigation': false,
         'autoplay': true,
         'autoplaySpeed': 500,
         'loop': true}"
         [items]="slides">
         <div class="item" *ngFor="let image of slides;let i = index">
             <img src="{{image.img}}" alt="">
         </div>
     </owl-carousel>
    </div>
    <div class="carousel" id="carousel2">
      <owl-carousel
         [options]="{ 'items': 4,
          'dots': false,
          'navigation': false,
          'autoplay': true,
          'autoplaySpeed': 500,
          'loop': true}"
         [items]="slides">
         <div class="item" *ngFor="let image of slides;let i = index">
             <img src="{{image.img}}" alt="">
         </div>
     </owl-carousel>
    </div>
    <div class="carousel" id="carousel3">
      <owl-carousel
         [options]="{items: 2,
         dots: false,
         navigation: false,
         autoplay: true,
         autoplaySpeed: 500,
         loop: true}"
         [items]="slides">
         <div class="item" *ngFor="let image of slides;let i = index">
             <img src="{{image.img}}" alt="">
         </div>
     </owl-carousel>
    </div>
    </div>

<svg style="display:none">
  <defs>
    <filter id="dropshadow" x="0%" y="0%" width="120%" height="120%" filterUnits="userSpaceOnUse">
      <feGaussianBlur in="SourceAlpha" stdDeviation="1.5"/> <!-- stdDeviation is how much to blur -->
      <feOffset dx="0" dy="0" result="offsetblur"/> 
      <!-- <feOffset dx="-2" dy="-2" result="offsetblur"/> -->
      <feMerge> 
        <feMergeNode/>
        <feMergeNode in="SourceGraphic"/>
        <feMergeNode in="SourceGraphic"/>
      </feMerge>
    </filter>
  </defs>
</svg>