@import '../../../styles.scss';
.inicio{
	@include navbar(85px);
	// @include container-general;
	&__titulo {
		height: 450px;
		    // display: inline-block;
		background: url("/assets/mano.jpeg");
		background-position:center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		text-align: center;
		// outline: 1px solid tomato;
		.overlay {
	        position: absolute;
	        left: 0;
	        top: 0;
	        width: 100%;
	        height: 100%;
	        transition: all .3s ease;
	        // display: flex;
			// align-items: center;
			// justify-content: center;
			background: rgba($secondary, 0.2);	
		}
	}	
	@media(max-width: 600px) {
		
	}
}


.titulo-centrado {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	@media(max-width: 1320px) {
		h1 {
			font-size: 1.5rem;
		}
	}
	@media(max-width: 760px) {
		// h1 {
		// 	font-size: 1.5rem;
		// }
		top:65%;
	}
}

.titulo {
	color: #29265b;
	font-weight: bold;
	font-size: 42px;
	// padding-left: 35px;
	display: block;
	&__black{
		color: white;
		text-shadow: 0.707px 0.707px 5.88px rgba(0, 0, 0, 0.59);
	} 
	&__purpura{
		color: rgba(white, 1);
		text-shadow: 0.707px 0.707px 5.88px rgba(0, 0, 0, 0.59);
		// text-shadow: 0.707px 0.707px 5.88px rgba(white, 0.59);
	} 
	&__rosa{
		// padding-left: 100px;
		color: rgba($secondary,0.9);
		// text-shadow: 0.707px 0.707px 5.88px rgba(white, 0.59);
	} 



}

.btn-centrado {
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	font-size: 18px;
	@media(max-width: 1320px) {
		font-size: 18px;
		width: 200px;
	}
}

.apoya {
	&-container{
	  position: relative;
	  height: 350px;
	}
	&-rectangle {
		width: 100%;
		height: auto;
		top: 50%;
		transform: translate(-50%, -50%);
	  position: absolute;
	  img {
		  left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		  width: 85%;
		  height: auto;
	  }
	}
	.square {
		&-1{
			left: 50%;	
		}
		&-2{
			left: 52.5%;	
		}
		&-3{
			left: 47.5%;	
		}
	}
	&-card {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color:white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height:55%;
		width: 54.7%;
		border-radius: 5px;
		box-shadow: 0px 0px 24.3px 2.7px rgba(0, 0, 0, 0.1);
		.content {
			text-align: center;
			// button.mat-flat-button {
			// 	width: 250px;
			// 		font-size: 18px;
			// 		padding-top: 0px;
			// 	background-color: $lavanda_col;
			// 	color:white;
			// }
		}
	}
  }

  .campaign {
	height: 750px;
	padding-left: 20px;
	padding-right: 20px;
	display:flex;
	justify-content: space-evenly;
	&-card {
	  flex-basis: 25%;
	}
  }

  .carousel {
    width: 100% !important;
    max-height: 200px !important;
    background: $gris-bajo !important;

    owl-carousel {
        .item {
            padding: 10px 15px !important;
            img {
                max-height: 150px !important;
                width: auto !important;
            }
        }
    }
}

.responsive-carousel {
    #carousel1 {
        display:block;
    }
    #carousel2 {
        display:none;
    }
    #carousel3 {
        display:none;
    }
}


	  .justify-content-center {
		display: flex;
		align-items: stretch;
	}
	
	mdb-card{
		// padding: 50px 50px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		&-holder {
			padding: 0 50px;
	
			p {
				font-size: 23px;
			}
		}
	
	}
	
	mdb-card-img {
		max-height: 300px;
	}
	
	mdb-card-title {
		text-align: center;
		h4 {
			// color: $gray;
			font-size: 20px;
		}
	}

  .campaign {
	// height: 750px;
	padding: 20px;
    display:flex;
    // flex-wrap: wrap;
	justify-content: space-evenly;
	&-card {
	  flex-basis: 28%;
	}
  }

.container-scroller {
  padding: 30px;
  @media(max-width: 500px) {
    padding: 0px;
  }
}
.scrolling-wrapper{
  &::-webkit-scrollbar {
    height:0.5em;
  }
  
  &::-webkit-scrollbar-track {
    // width: 0.5em;
    // border-radius: 100
    // background-color: white;
    -webkit-box-shadow: inset 0 0 2px rgba(#bababa,0.6);
     box-shadow: inset 0 0 2px rgba(#bababa, 0.6);
  }
  
  &::-webkit-scrollbar-thumb {
  background-color: rgba($purpura_col,0.3);
  }
  // height: 750px!important;
  // padding-left: 20px;
  // padding-right: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
    margin: 10px 40px;
    @media(max-width: 376px) {
      margin: 10px 30px;
    }
  }

}

.section-cards{
  // position: relative;
  padding: 35px;
//   @media(max-width: 376px) {
//     // padding:0px;
//   }
  color:#747474;
    h2 {
        font-weight: bold;
        @media(max-width: 376px) {
		  padding-left:15px;
		  font-size:1.5em;
        }
    }
 }
 //Responsivo

 
  //Responsivo
  @media(max-width: 1440px) {
	  .apoya {
		&-container{
			height: 350px;
		  }
		&-card {
			height:55%;
			width: 57%;
			.content {
			}
		}
	  }
}
@media(max-width: 1280px) {
	.apoya {
		&-container{
			height: 300px;
		  }
		&-card {
			height:55%;
			width: 57%;
			.content {
				h1 {
					font-size: 2.0rem;
				}
				p {
					font-size: 0.8rem;
				}
			}
		}
	  }

	.mat-flat-button {
	 font-size: 14px;	
	}
}


@media(max-width: 1180px) {
    .inicio__parallax-estadisticas {
        &-holder {
            flex-basis: 30%;
        }
    }

    mdb-card {
        padding: 25px;
    }
}

@media(max-width: 1024px) {
    .inicio__servicios-cuadro {
        .overlay {
            opacity: 100;
        }
    }
    
    .inicio__servicios {
        a.overlay > h3 {
            font-size: 18px;
        }
    }

    .inicio__parallax-estadisticas {
        justify-content: space-between;
        .counter {
            font-size: 50px !important;
        }

        &-holder {
            h2 {
                font-size: 20px;
            }
            p {
                font-size: 14px;
            }
        }
       
    }

    .inicio__parallax-blanco_estadisticas {
        min-height: 400px;

    }

    mdb-card {
        padding: 15px;
    }

    mdb-card-title {
        h4 {
            font-size: 16px;
        }
    }

    mdb-card-body {
        a {
            font-size: 16px;
        }
    }

    .responsive-carousel {
        #carousel1 {
            display:none;
        }
        #carousel2 {
            display:block;
        }
        #carousel3 {
            display:none;
        }
    }
}

@media(max-width: 1004px) {
	.apoya {
		&-container{
			height: 280px;
		  }
		
		&-card {
			.content {
				h1 {
					font-size: 1.5rem;
				}
				p {
					font-size: 0.7rem;
				}
			}
		}
	  }
}
@media(max-width: 950px) {
    .justify-content-center {
        flex-wrap: wrap;
    }
    mdb-card {
        flex-basis: 50%;
	}
	.apoya {
		&-container{
		//   position: relative;
		  height: 450px;
		  background-color: rgba($lavanda_col,0.8);
		}
		&-rectangle {
			display: none!important;
		}
		&-card {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color:white;
			// position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height:75%;
			width: 80%;
			padding: 20px;

			// border-radius: 0px;
			box-shadow: 0px 0px 24.3px 2.7px rgba(0, 0, 0, 0.1);
			.content {
				text-align: center;
				h1 {
					font-size: 2.5rem;
				}
				p {
					font-size: 1rem;
				}
			}
		}
	  }
}

@media(max-width: 860px) {
    .inicio__parallax-blanco {
        min-height: 200px;
    }

    .inicio__parallax-estadisticas {
        flex-wrap: wrap;
        justify-content: center;
        &-holder {
            flex-basis: 100%;

            p:first-of-type {
                display: none;
            }
        }
    }
}

@media(max-width: 768px) {
    .inicio__servicios {
        &-cuadro {
            flex-basis: 50%;
        }
    }
}

@media(max-width: 560px) {
	.titulo {
		font-size: 30px;
	}
}
@media(max-width: 620px) {

    .inicio__servicios {
        &-cuadro {
            flex-basis: 100%;
        }
    }
    mdb-card {
        flex-basis: 100%;
    }
    .responsive-carousel {
        #carousel1 {
            display:none;
        }
        #carousel2 {
            display:none;
        }
        #carousel3 {
            display:block;
        }
    }
}

@media(max-width:375px) {
	.apoya {
		&-container{		
		  height: 500px;
		  background-color: rgba($lavanda_col,0.8);
		}

		&-card {
			.content{
			h1 {
				font-size: 2.0rem!important;
			}
		}
		}
	}
}

