<ng-container *ngIf="(infinite | async) as people else loading">

  <cdk-virtual-scroll-viewport
  orientation="horizontal"
  itemSize="500"
  class="example-viewport"
  (scrolledIndexChange)="nextBatch($event, (people[people.length - 1].name))"
  >

  <!-- (scrolledIndexChange)="nextBatch($event, (people[people.length - 1].name))"> -->


    <!-- <li *cdkVirtualFor="let p of people; let i = index; trackBy: trackByIdx" class="animated lightSpeedIn">
      <h2>{{ i }}. {{ p.emoji }} {{ p.name }}</h2>
      <p> {{ p.bio }} </p>
    </li>

    <iframe *ngIf="theEnd" src="https://giphy.com/embed/lD76yTC5zxZPG" width="480"
      height="352" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> -->

    <div *cdkVirtualFor="let p of people" class="scroller-scrollbar card">
      <app-card></app-card>
    </div>

  </cdk-virtual-scroll-viewport>

</ng-container>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>