<mat-card class="donnor-card">
  <mat-card-header class="center">
    <mat-card-title>REGISTRO PARA DONADORES</mat-card-title>
    <mat-card-subtitle>Ingresa tus datos para comenzar a apoyar.</mat-card-subtitle>
    <mat-card-subtitle>¿Ya tienes cuenta? <a [routerLink]="['/login']">Inicia sesión aquí</a></mat-card-subtitle>
  </mat-card-header>


  <mat-card-content>
    <mat-horizontal-stepper linear="false" label="false" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <app-dynamic-form [fields]="firstFormFields" (submited)="onSubmit($event)" (formOut)="firstFormGroup"></app-dynamic-form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <div class="ods-container">
          <div *ngFor="let field of secondFormFields">
            <mat-button-toggle (change)="buttonToggleChanged(field)">
              {{field.label}}
            </mat-button-toggle>
          </div>
        </div>
        <div class="controls-stepper">
          <button mat-raised-button color="accent" matStepperPrevious style="margin-right: 20px">ANTERIOR</button>
          <button (click)="onSubmit({})" mat-raised-button color="accent" matStepperNext>FINALIZAR REGISTRO</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
