@import '../../../../styles.scss';
.donnor-card {
  @include navbar(100px);
  max-width: 800px;
  min-height: 700px;

  mat-card-content {
    padding-top:20px;
    mat-horizontal-stepper {
      padding-top:20px;
    }
  }
}

div.mat-horizontal-stepper-header-container{
  margin-bottom: 24px!important;
}

div.mat-horizontal-stepper-content {
  padding-top:24px!important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ods-container {
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start ;
  align-items: center;
  div {
    flex-basis:calc(100%/3);
    // margin-top:10px;
    // margin-bottom: 10px;
    padding: 10px;
    mat-button-toggle {
      white-space: pre-wrap;
      line-height:0px;
      width: 100%;
      height: 100px;
      background-color:rgba(#aaaaaa,0.5);
      color: white;
      // background-color:rgba($lavanda_col,0.2);
      &.mat-button-toggle-checked {
        background-color: rgba($lavanda_col,0.5);
      }
    }
  }
}

.controls-stepper {
  margin-top: 24px;
}
