.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}
.pipe {
  margin: 0px 10px;
}
.mat-toolbar.mat-primary {
  position: fixed!important;
  top: 0!important;
  z-index: 1;
  background: #6d5895; /* Old browsers */
  background: -moz-linear-gradient(left, #6d5895 0%, #6d5895 45%, #a65199 74%, #a65199 74%, #a65199 81%, #a65199 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #6d5895 0%,#6d5895 45%,#a65199 74%,#a65199 74%,#a65199 81%,#a65199 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #6d5895 0%,#6d5895 45%,#a65199 74%,#a65199 74%,#a65199 81%,#a65199 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d5895', endColorstr='#a65199',GradientType=1 ); /* IE6-9 */
}

mat-form-field {
  label {
     font-size: 16px!important;
  }
}

.hidden{
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display:inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: white;
}