// mat-toolbar {
@import '../../styles.scss';
//   z-index: ;
// }
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: transparent;
}
.pipe {
  margin: 0px 10px;
}
.mat-toolbar.mat-primary.transparent {
  background: transparent;
  transition: all 0.4s ease-in;
}
.mat-toolbar.mat-primary.solid {
  @include gradient-crowdfunding;
  transition: all 0.4s ease-in;
}
.mat-toolbar.mat-primary {
  transition: all 0.4s ease-out;
  position: fixed!important;
  top: 0!important;
  z-index: 10;
  height: 85px;
//  @include gradient-crowdfunding;
}

mat-form-field {
  label {
     font-size: 16px!important;
  }
}

.hidden{
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display:inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.navbar-avatar {
  height: 50px;
  width:50px;
  overflow:hidden;
  object-fit: cover;
  border-radius: 100%;
  // box-shadow: 2p-x 2px 10px 0px rgba(0,0,0,0.43);
}
.navbar-brand {
  img {
    height: 75px;
    width:auto;
  }
}

.content-links {
  display: flex;
  align-items: center;
}

.avatar-holder {
  display: flex;
  justify-content: center;
  align-content: center;
  width:100%;
  margin-bottom: 45px;
  // height: 75px;
  a{
    width: 60px;
    height: 60px;
  }
  .navbar-avatar {
    height:60px;
    width:60px;
  }
}

button.mat-button {
  color:white;
}

span.divider {
  color:white;
}