<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [ngClass]="{hidden:!(isHandset$ | async)}"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
    >
    <!-- Display navbar contents -->
    <app-navbar [user]="user" [drawer]="drawer"></app-navbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Show header and rest of the content -->
    <app-header [user]="user" [drawer]="drawer"></app-header>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div *ngIf="loading; else loaded">
  <h1>LOADING.....</h1>
</div>
<ng-template #loaded>
  <div *ngIf="user; else notlogged">

  </div>
  <ng-template #notlogged let-user>
    <h1>NO USER</h1>
  </ng-template>
</ng-template> -->



<!-- SIN INICIAR SESIÓN -->
<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [ngClass]="{hidden:!(isHandset$ | async)}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Colabora México</mat-toolbar>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a class="navbar-brand"><img src="assets/logo.png" alt="" style="max-height:50px; width: auto" routerLink=""></a>
      <span class="pipe" *ngIf="!(isHandset$ | async)">|</span>
      <form *ngIf="!(isHandset$ | async)" class="example-container" style="font-size: 10px">
          <mat-form-field hideRequiredMarker="true"floatLabel="never">
              <mat-icon matPrefix>search</mat-icon>
          <input matInput>

        </mat-form-field>
      </form>
      <span class="spacer"></span>
      <span *ngIf="!(isHandset$ | async)">
      <button mat-button [routerLink]="['apoyar']">APOYAR CAMPAÑAS</button>
      <span class="">|</span>
      <button mat-button [routerLink]="['']">¿CÓMO APOYAR?</button>
      <button mat-button [routerLink]="['login']">INICIAR SESIÓN</button>
      <span class="">|</span>
      <button mat-button [routerLink]="['register']">REGISTRARSE</button>
    </span>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container> -->
