// mat-toolbar {
@import '../../styles.scss';
//   z-index: ;
// }
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}
.pipe {
  margin: 0px 10px;
}
.mat-toolbar.mat-primary {
  position: fixed!important;
  top: 0!important;
  z-index: 10;
  height: 85px;
 
  // background: -moz-linear-gradient(left, #6d5895 0%, #6d5895 45%, #a65199 74%, #a65199 74%, #a65199 81%, #a65199 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(left, #6d5895 0%,#6d5895 45%,#a65199 74%,#a65199 74%,#a65199 81%,#a65199 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to right, #6d5895 0%,#6d5895 45%,#a65199 74%,#a65199 74%,#a65199 81%,#a65199 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // 
 @include gradient-crowdfunding;
}

mat-form-field {
  label {
     font-size: 16px!important;
  }
}

.hidden{
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display:inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.navbar-avatar {
  height: 75px;
  width:75px;
  overflow:hidden;
  object-fit: cover;
  border-radius: 100%;
  // box-shadow: 2p-x 2px 10px 0px rgba(0,0,0,0.43);
}
.navbar-brand {
  img {
    height: 75px;
    width:auto;
  }
}

.content-links {
  display: flex;
  align-items: center;
}

.avatar-holder {
  display: flex;
  justify-content: center;
  align-content: center;
  width:100%;
  margin-bottom: 45px;
  // height: 75px;
  a{
    width: 75px;
    height: 75px;
  }
  .navbar-avatar {
    height:75px;
    width:75px;
  }
}