<mat-card class="assoc-card">
  <mat-card-header class="center">
    <mat-card-title>REGISTRO PARA ASOCIACIONES</mat-card-title>
    <mat-card-subtitle>Ingresa tus datos para comenzar a apoyar.</mat-card-subtitle>
    <mat-card-subtitle>¿Ya tienes cuenta? <a class="session" [routerLink]="['/login']">Inicia sesión aquí</a></mat-card-subtitle>
  </mat-card-header>

  <!-- (formOut)="getForm($event)" -->
  <mat-card-content>
    <mat-horizontal-stepper linear="false" label="false" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <!-- <ng-template matStepLabel>{{labels[0]}}</ng-template> -->
        <app-dynamic-form [fields]="firstFormFields" (submited)="onSubmit($event, 0)"></app-dynamic-form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <app-dynamic-form [backButton]="true" [fields]="secondFormFields" (submited)="onSubmit($event, 1)"></app-dynamic-form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <app-dynamic-form [backButton]="true" [lastForm]="true" [fields]="thirdFormFields" (submited)="onSubmit($event, 2)"></app-dynamic-form>
      </mat-step>
      <!-- <mat-step *ngFor="let formField of formFields; let i = index" [stepControl]="firstFormGroup">
        <ng-template matStepLabel>{{labels[i]}}</ng-template>
        <app-dynamic-form [fields]="formField" (submited)="onSubmit($event)" [label]="labels[i]"></app-dynamic-form>
      </mat-step> -->
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>

