.btn-social {
  color: #fff;
  i {
      margin-right: 5px;
  }
  &:hover {
      color: #fff;
      box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.2), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.1);
  }
  .btn-block {
      margin-bottom: 10px;
  }
}

.btn-facebook {
  background-color: #3B5998;
}

.btn-google {
  background-color: #DD4B39;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  align-content: left;
  align-items: left;
}


.example-container > * {
  width: 100%;
}

.login-card {
  max-width: 400px;
  margin-top: 84px;
}

.example-stretched-tabs {
  max-width: 800px;
}


// Para la línea ó
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: black;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}
