<!-- <mat-card class="register-card">
  <mat-card-header class="center">
    <mat-card-title>REGISTRARSE</mat-card-title>
    <mat-card-subtitle>Elige el tipo de perfil que te gustaría tener</mat-card-subtitle>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
      
  </mat-card-actions>
</mat-card> -->
<div class="register-holder">
  REGISTRARSE
  <p>Elige el tipo de perfil que te gustaría tener</p>
  <p>¿Ya tienes cuenta?  <a [routerLink]="['/login']">Inicia sesión aquí</a></p>
  <div class="buttons">
      <button  mat-raised-button color="accent" [routerLink]="['/register/assoc']">ASOCIACIÓN CIVIL</button>
          <button  mat-raised-button color="accent" [routerLink]="['/register/donor']">DONADOR(A)</button>
  </div>
</div>
