
<div class="register-holder">
  <div class="register-center">

    <h3>REGISTRARSE</h3>
    <p>Elige el tipo de perfil que te gustaría tener</p>
    <p>¿Ya tienes cuenta?  <a [routerLink]="['/login']">Inicia sesión aquí</a></p>
    <div class="buttons">
         <div matRipple [matRippleColor]="'#A6519928'" class="buttons-card outline" [routerLink]="['/register/donor']">
            <p><mat-icon>card_giftcard</mat-icon></p>
        <p>DONADOR(A)</p>
        <p>Quiero donar y apoyar a las asociaciones civiles que se encuentran dentro de mis intereses</p>
      </div>
        <div matRipple [matRippleColor]="'#A6519928'" class="buttons-card outline" [routerLink]="['/register/assoc']">
           <p> <mat-icon>group</mat-icon></p>
        <p>ASOCIACIÓN CIVIL</p>
        <p>Quiero donar y apoyar a las asociaciones civiles que se encuentran dentro de mis intereses</p>
      </div>
      <!-- <button  mat-raised-button color="accent" [routerLink]="['/register/assoc']">ASOCIACIÓN CIVIL</button>
      <button  mat-raised-button color="accent" [routerLink]="['/register/donor']">DONADOR(A)</button> -->
    </div>
  </div>
</div>

