@import '../../../styles.scss';

.not-found-holder{
    height: 650px;
    @include flex-parent();
    flex-direction: column;
   justify-content: center;
    @include navbar(100px);
    h1 {
        font-size: 100px;
        // background: -webkit-linear-gradient(#eee, #333);
        @include gradient-crowdfunding;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    button {
        width: 250px;
        color:white;
    }
}