<div class="profile">
    <div class="general">
      <div class="general-photo">
        <img src="assets/felix.jpg" alt="">
      </div>
        <div class="general-info">
            <h1> <span><mat-icon>person</mat-icon></span> {{'Félix Román Ehuan Collí'}}</h1>
        <h5><span><mat-icon>email</mat-icon></span> {{'fnixro2@gmail.com'}}</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem veritatis minima vel, rem natus praesentium eaque nostrum. 
          Asperiores blanditiis perferendis voluptatum aperiam corrupti architecto distinctio atque, ipsa suscipit praesentium qui.</p>
        </div>
        <div class="general-badge">
            <img src="assets/badge-ac-opacidad.png" alt="">
          </div>
          <div class="spacer"></div>
      </div>
  <div class="content">
    <div class="sections">
      <mat-tab-group >
        <mat-tab label="Información de perfil">
          <app-register-donor></app-register-donor>
        </mat-tab>
        <mat-tab label="Donaciones">
          <app-register-assoc></app-register-assoc>
        </mat-tab>
        <mat-tab label="Cambiar contraseña">
          <app-register-assoc></app-register-assoc>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  
  
</div>