
@mixin box-avatar() {
    box-shadow:2px 2px 10px 0px rgba(0,0,0,0.43);
  }
  
  @mixin navbar($top: 95px) {
    margin-top: $top;
  }
  
  @mixin container-general {
   padding: 30px;
  }

@mixin box-shadow($top:2px, $left:2px, $blur:10px, $spred:0px, $color:rgba(0,0,0,0.43), $inset: false) {
    @if $inset {
      -webkit-box-shadow:inset $top $left $blur $color;
      -moz-box-shadow:inset $top $left $blur $color;
      box-shadow:inset $top $left $blur $color;
    } @else {
      -webkit-box-shadow: $top $left $blur $color;
      -moz-box-shadow: $top $left $blur $color;
      box-shadow: $top $left $blur $color;
    }
  }
  
  @mixin text-field {
   display: inline-block;
    outline: none;
    text-decoration: none;
    font: 14px/100% Nunito;
    padding: .5em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    @include rounded();
    @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
  }
  
  @mixin button($color: $primary, $text_color: $white) {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Nunito;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    @include rounded();
    @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
  
    color: $text_color !important;
    font-weight: bold;
    border: solid 1px darken($color, 18%);
    background: $color;
    @include gradient(saturate($color, 15%), darken($color, 15%));
  
    &:hover {
      text-decoration: none;
      background: saturate($color, 10%);
      @include gradient(saturate($color, 5%), darken($color, 5%));
    }
  
    &:active {
      position: relative;
      top: 1px;
      color: saturate($color, 15%);
      @include gradient(saturate($color, 15%), lighten($color, 15%));
    }
  }
  
  @mixin rounded($radius: 0.5em) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }
  
  @mixin gradient($from:$primary, $to: $secondary, $degree: 45deg) {
    background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background: -moz-linear-gradient(top,  $from, $to);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
  }

  @mixin gradient-crowdfunding {
    background: $primary; /* Old browsers */
    background-image: linear-gradient(45deg,$primary,$secondary);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$primary, endColorstr=$secondary,GradientType=1 ); /* IE6-9 */
  }

  @mixin flex-parent ($justify: space-evenly,$align-items: center,$align-content:center,$wrap:nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align-items;
    align-content: $align-content;
    flex-wrap:wrap;
  };