/* You can add global styles to this file, and also import other style files */
// regular style toast
@import '~ngx-toastr/toastr.css';
@import 'mixins.scss';
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "animate.scss";
// @import "~owl.carousel/dist/assets/owl.theme.default.css";
// @import '/colabora-theme.scss';
//Variables
$lavanda_col : #D97C1E;
$purpura_col: #A94924;
$morado_col: #A94924;
$primary: #D97C1E;
$secondary:#A94924;
$gris_col: rgba(#bababa,0.5);
$gris-bajo:#efefef;

$mat-chinese-red: (
    50 : #f5e9e5,
    100 : #e5c8bd,
    200 : #d4a492,
    300 : #c38066,
    400 : #b66445,
    500 : #a94924,
    600 : #a24220,
    700 : #98391b,
    800 : #8f3116,
    900 : #7e210d,
    A100 : #ffbbb0,
    A200 : #ff8f7d,
    A400 : #ff634a,
    A700 : #ff4d30
);

$mat-ochre: (
    50 : #faefe4,
    100 : #f4d8bc,
    200 : #ecbe8f,
    300 : #e4a362,
    400 : #df9040,
    500 : #d97c1e,
    600 : #d5741a,
    700 : #cf6916,
    800 : #ca5f12,
    900 : #c04c0a,
    A100 : #fff2eb,
    A200 : #ffcfb8,
    A400 : #ffac85,
    A700 : #ff9a6c 
);

$mat-purpureus: (
  50 : #f4eaf3,
  100 : #e4cbe0,
  200 : #d3a8cc,
  300 : #c185b8,
  400 : #b36ba8,
  500 : #a65199,
  600 : #9e4a91,
  700 : #954086,
  800 : #8b377c,
  900 : #7b276b,
  A100 : #ffbef2,
  A200 : #ff8be7,
  A400 : #ff58dd,
  A700 : #ff3ed7,
);

html,body, button, .mat-toolbar .mat-button .mat-form-field .mat-stepper-horizontal {
  margin: 0;
  font-family: 'Nunito', sans-serif!important;
}

mat-sidenav-container.mat-drawer-container {
  background-color: white;
}
mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

app-field {
  width: 100%;
  mat-form-field {
    width: 95%;
  }
}


//Butons

.mat-raised-button.mat-accent {
  padding-top: 0px;
  background-color: $primary;
  color:white;
}

app-dynamic-form.dynamic-form {
  padding: 25px 0px;
}
// .cdk-focused ,.cdk-mouse-focused {
//   background-color: #fff!important;
// }
.mat-step-header:hover{
  background-color: #fff!important;
   &:hover {
    height: 70px!important;
    width: 70px!important;
    -webkit-transition: linear 0.3s; /* Safari */
     transition: linear 0.3s;
  }
}
.mat-form-field.mat-focused{
  .mat-form-field-flex {
    border-bottom: none;
  }
}
.mat-form-field-label{
  // color:$lavanda_col!important;
  margin-bottom: 10px!important;
  }
// }
.mat-radio-button {
  margin-left: 10px!important;
}


.mat-step-label{
  display: none!important;
}
.mat-stepper-horizontal-line {
  border-width: 10px!important;
}
.mat-horizontal-stepper-header {
  padding: 12px;
}
.mat-horizontal-stepper-header-container {
  margin-bottom: 10px;
}
.mat-step-header .mat-step-icon {
  height: 65px!important;
  width: 65px!important;
  border: 1.5px solid rgba(0,0,0,.38);    
  &:hover {
    height: 70px!important;
    width: 70px!important;
    -webkit-transition: linear 0.3s; /* Safari */
     transition: linear 0.3s;
  }

  background-color: #fff;
  color:  rgba(0,0,0,.38);
  font-size: 17px;
  font-weight: 800;
  // box-shadow: 1px,1px,3px,0px,#bababa;
  @include box-shadow(1px,1px,3px,#bababa);

  &-selected {
    color: $primary!important;
    border: 1.5px solid $primary;
  }

  &-state-number{
    color:  rgba(0,0,0,.38);
  }
  &-state-edit{
    background-color: $primary;
    border:none;
    color:  #fff;
    border: 1.5px solid $primary;
  }
}

.mat-radio-outer-circle {
  border-color:$secondary;
}

.scrollbar-colabora {
  @include custom-scrollbar;
}
.ods-container {
  // height: 350px;
  padding-bottom: 50px;
  // display: flex;
  // flex-wrap:wrap;
  // justify-content: flex-start ;
  // align-items: center;
 @include flex-parent(flex-start,center,center,wrap);
  div {
    flex-basis:calc(100%/6);
    padding: 0px 10px;
    mat-button-toggle {
      white-space: pre-wrap;
      line-height:0px;
      width: 100%;
      height: 100px;
      font-size: 14px;
      background-color:rgba(#aaaaaa,0.5);
      color: white;
      margin-bottom: 20px;
      // background-color:rgba($lavanda_col,0.2);
      &.mat-button-toggle-checked {
        background-color: rgba($secondary,0.5);
      }
    }
  }
    @media(max-width: 1439px) {
      div {
        flex-basis:calc(100%/3);
        padding: 0px 10px;
      }
    }
    @media(max-width: 960px) {
      display: none;
    }

}