/* You can add global styles to this file, and also import other style files */
// regular style toast
@import '~ngx-toastr/toastr.css';
// if you'd like to use it without importing all of bootstrap it requires
// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';
// @import '~ngx-toastr/toastr-bs4-alert';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import "~owl.carousel/dist/assets/owl.carousel.css";
// @import "~owl.carousel/dist/assets/owl.theme.default.css";
// @import '/colabora-theme.scss';
//Variables
$lavanda_col : #A65199;
$purpura_col: #6D5895;
$morado_col: #674e96;

$mat-purpureus: (
  50 : #f4eaf3,
  100 : #e4cbe0,
  200 : #d3a8cc,
  300 : #c185b8,
  400 : #b36ba8,
  500 : #a65199,
  600 : #9e4a91,
  700 : #954086,
  800 : #8b377c,
  900 : #7b276b,
  A100 : #ffbef2,
  A200 : #ff8be7,
  A400 : #ff58dd,
  A700 : #ff3ed7,
);

html,body, button, .mat-toolbar .mat-button .mat-form-field .mat-stepper-horizontal {
  margin: 0;
  font-family: 'Nunito', sans-serif!important;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}


//Inputs
.mat-grid-tile {
  overflow:visible!important;
}

app-field {
  width: 100%;
  mat-form-field {
    width: 95%;
  }
}


//Butoons

.mat-raised-button.mat-accent {
  padding-top: 0px;
  background-color: $purpura_col;
  color:white;
}


//Stepper
// .mat-form-field.mat-focused {

//      .mat-form-field-infix {
//       border-bottom: 1.5px solid $lavanda_col!important;
//     }

// }
app-dynamic-form {
 .mat-form-field-infix{
   border-bottom: 1.5px solid $lavanda_col;    
 }
 
}

app-dynamic-form.dynamic-form {
  padding: 25px 0px;
}
// .cdk-focused ,.cdk-mouse-focused {
//   background-color: #fff!important;
// }
.mat-step-header:hover{
  background-color: #fff!important;
   &:hover {
    height: 70px!important;
    width: 70px!important;
    -webkit-transition: linear 0.3s; /* Safari */
     transition: linear 0.3s;
  }
}
.mat-form-field.mat-focused{
  .mat-form-field-flex {
    border-bottom: none;
  }
}
.mat-form-field-label{
  // color:$lavanda_col!important;
  margin-bottom: 10px!important;
  }
// }
.mat-radio-button {
  margin-left: 10px!important;
}
.mat-step-icon {
  height: 65px!important;
  width: 65px!important;
  border: 1.5px solid rgba(0,0,0,.38);    
  &:hover {
    height: 70px!important;
    width: 70px!important;
    -webkit-transition: linear 0.3s; /* Safari */
     transition: linear 0.3s;
  }
}
// .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before,
//  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after, [dir=rtl] 
//  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after, [dir=rtl] 
//  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before {
//   display: none!important;
// }


.mat-step-label{
  display: none!important;
}
.mat-stepper-horizontal-line {
  border-width: 10px!important;
}
.mat-horizontal-stepper-header {
  padding: 12px;
}
.mat-horizontal-stepper-header-container {
  margin-bottom: 10px;
}
.mat-step-header .mat-step-icon {
  background-color: #fff;
  color:  rgba(0,0,0,.38);
  font-size: 17px;
  font-weight: 800;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(186,186,186,1);
  -moz-box-shadow: 1px 1px 3px 0px rgba(186,186,186,1);
  box-shadow: 1px 1px 3px 0px rgba(186,186,186,1);
  &-selected {
    color: $morado_col!important;
    border: 1.5px solid $morado_col;
  }

  &-state-number{
    color:  rgba(0,0,0,.38);
  }
  &-state-edit{
    background-color: $morado_col;
    border:none;
    color:  #fff;
    border: 1.5px solid $morado_col;
  }
}

.mat-radio-outer-circle {
  border-color:$lavanda_col;
}
