<div class="apoyar">
  <h1>APOYAR CAMPAÑAS</h1>
  <hr>
 <p> Ordena por intereses ( selecciona uno o varios intereses)</p>
</div>

<div class="search-container">
  <div class="search">
    <mat-form-field>
      <input matInput placeholder="Buscar campañas">
      <mat-icon matPrefix color="primary">search</mat-icon>
    </mat-form-field>
    <div class="spacer"></div>
  </div>
  <div class="interes">
    <mat-form-field>
      <mat-select placeholder="Selecciona un interés"  name="food">
        <mat-option *ngFor="let field of odsFields" [value]="field.label">
          {{field.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="spacer"></div>
  </div>
</div>
  <div class="ods-container">
    <div >
        <mat-button-toggle>
          TODOS
        </mat-button-toggle>
      </div>
  <div *ngFor="let field of odsFields">
    <mat-button-toggle (change)="buttonToggleChanged(field)">
      {{field.label}}
    </mat-button-toggle>
  </div>
</div>
<div class="section-cards">
  <h2>{{'Fin de la pobreza' | uppercase }}</h2>
  <div class="container-scroller">
    <div class="scrolling-wrapper">
      <div class="card"  *ngFor="let field of odsFields"><app-card></app-card></div>
    </div>
  </div>
</div>
<div class="section-cards">
  <h2>{{'Ciudades y comunidades sostenibles' | uppercase}}</h2>
  <div class="container-scroller">
    <div class="scrolling-wrapper">
      <div class="card"  *ngFor="let field of odsFields"><app-card></app-card></div>
    </div>
  </div>
</div>
<div class="section-cards">
  <h2>{{'Vida de ecosistemas terrestres' | uppercase}}</h2>
  <div class="container-scroller">
    <div class="scrolling-wrapper">
      <div class="card"  *ngFor="let field of odsFields"><app-card></app-card></div>
    </div>
  </div>
</div>



